@use 'variables.scss' as *;
@use 'layout.scss' as *;
@use 'module.scss' as *;
@use 'utilities.scss' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 8px;

    background-color: $brown;
    color: #ffffff;
}

a {
    display: block;

    color: inherit;
    text-decoration: none;
}

input {
    border: 0;

    font-family: inherit;
}

button {
    border: 0;

    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
}

svg {
    width: 24px;

    fill: #ffffff;
}

@media (min-width: 800px) {
    body {
        margin: 8px auto;
        max-width: 800px;
    }

    .add-item-button {
        right: 29%;
    }

    .modal-content {
        margin: 0 auto;
        right: 0;
        max-width: 800px;
    }
}
