@use 'variables.scss' as *;

.list {
    border-bottom: 1px solid $light-brown;

    padding-bottom: 16px;
}

.list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-form {
    display: flex;
    flex-direction: column;
}

.item-form-buttons {
    display: flex;
    justify-content: space-between;
}

.tasks-header {
    display: flex;
    align-items: center;

    color: $light-blue;
}

.tasks-header svg {
    fill: $light-blue;
}

.task-container {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    padding: 8px;

    background-color: $light-brown-2;
}

.task {
    display: flex;
    align-items: center;
}
