@use 'variables.scss' as *;

.add-item-button {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 8px;
    right: 8px;

    background-color: $blue;
}

.modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
}

.modal-content {
    height: 123px;
    width: 100%;
    padding: 16px 8px;
    position: fixed;
    bottom: 0;
    left: 0;

    background-color: $blue;
    transition: transform 0.3s ease-in-out;
}
.modal-open,
.modal-content-open {
    transform: translateY(0);
}

.modal-close {
    transform: translateY(-100%);
}

.modal-content-close {
    transform: translateY(100%);
}

.item-form-input {
    padding: 10px 8px;

    background-color: $white;
}

.item-form-button {
    border-radius: 5px;
    margin-top: 8px;
    padding: 4px 8px;

    background-color: $green;
    color: #ffffff;
}

.button-svg {
    height: 24px;
}
