@use 'variables.scss' as *;

.mr-1 {
    margin-right: 8px;
}

.mb-05 {
    margin-bottom: 4px;
}

.mb-1 {
    margin-bottom: 8px;
}

.mb-2 {
    margin-bottom: 16px;
}

.pb-1 {
    padding-bottom: 8px;
}

.d-none {
    display: none;
}

.bg-color-red {
    background: $red;
}
